<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>memberList</title>
</head>
<body>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>이름</th>
        <th>email</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="member : ${members}">
        <td th:text="${member.getId()}"></td>
        <td th:text="${member.getName()}"></td>
        <td th:text="${member.getEmail()}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div>
  <a href="/"><button>home</button></a>
</div>
</body>
</html>