<!doctype html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello shop</title>
</head>
<body>
<div class = "container">
    <div>
        <h1>HELLO SHOP</h1>

        <p>회원 기능</p>
        <p>
        <button>회원 가입</button>
        <button>회원 목록</button>
        </p>

        <p>상품 기능</p>
        <p>
           <button>상품 등록</button>
            <button>상품 목록</button>
        </p>

        <p>주문 기능</p>
        <p>
            <button>상품 주문</button>
           <button>주문 내역</button>
        </p>
    </div>
</div>
</body>
</html>